nav {
  padding: 0 0.5rem;
  height: 2rem;
  width: 100%;
  background-color: #f2f2f2;
  line-height: 2rem;
  background-image: linear-gradient(to bottom, #fff, #ebebeb);
  box-sizing: border-box;
  border-top: 1px solid #ebebeb;
}
nav .left {
  height: 100%;
  font-size: 0.75rem;
}
nav .left a {
  color: #000;
}
.hot {
  margin: 10px 5px;
  height: 2rem;
  border: 1px solid #ccc;
  background: #eeeeee;
  text-indent: 0.5rem;
  line-height: 1.95rem;
  font-size: 18px;
  color: #864f5a;
}
#category {
  border: 1px solid #ededed;
  border-radius: 10px;
  border-bottom: none;
}
#category .item-list {
  background-color: #ededed;
  text-indent: 0.95rem;
  line-height: 2.025rem;
  font-size: 0.75rem;
}
#category .item-list .getCategory {
  color: #000;
  font-weight: 600;
  width: 100%;
  height: 100%;
  display: block;
  background: url(../images/arrow1.gif) no-repeat right center;
  border-bottom: 1px solid #ccc;
}
#category .item-list ul {
  border: 1px solid #ccc;
  border-bottom: none;
  border-top: none;
  background-color: #f9f9f9;
}
#category .item-list ul li {
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  text-indent: 0;
}
#category .item-list ul li a {
  color: #666;
  width: 100%;
  height: 100%;
  display: block;
}
#category .first {
  border-radius: 10px 10px 0 0;
}
#category .last {
  border-radius: 0 0 10px 10px;
  border-bottom: none;
}
